<header>
    <h1>Nakamas</h1>
</header>
<section>
    <div class="container">
        <div class="card" *ngFor="let anime of animes">
            <div class="card__title">
                <h3 >{{anime.name}}</h3>
            </div>
            
            <div class="card__image">
                <img [src]="anime.img" alt="anime">
            </div>
            <p class="card__description">{{anime.description}}</p>
            <div class="card__characteristic">
                <p class="card__characteristic__field">Rating: </p>
                1
                <progress [value]="anime.Rating" max="10"
                class="card__characteristic__data"></progress>
                10
            </div>
            
            <div class="card__characteristic">
                <p class="card__characteristic__field">Episode:</p>
                <p class="card__characteristic__data">{{anime.episode}}</p>
            </div>
            <div class="card__characteristic">
                <p class="card__characteristic__field">Categorie:</p>
                <p class="card__characteristic__data">{{anime.categorie}}</p>
            </div>
            <div class="card__characteristic">
                <p class="card__characteristic__field">Studio de animación:</p>
                <p class="card__characteristic__data">{{anime.studio}}</p>
            </div>
            <div class="card__characteristic characters">
                <p class="card__characteristic__field">personajes principales:</p>
                <br>
                <p *ngIf="anime.characters.length === 0">No se encontraron personajes</p>
                <ul class="card__characteristic__data">
                    <li class="character" *ngFor="let character of anime.characters">{{character}}</li>
                </ul>
            </div>
            <hr>
            <div class="card__buttons">
                <button class="card__buttons--back">Back</button>
                <button class="card__buttons--add">Add</button>
            </div>
            

        </div>
    </div>
</section>